* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.header .container-fluid .navbar-brand .logochico {
  width: 30px;
  height: auto; }

.main-index {
  background-image: url(../images/Fondodepantallaclara.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 112px);
  justify-items: center; }
  .main-index .logo {
    width: 135px;
    height: 90px;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-self: center;
    grid-row: 1/3; }
    .main-index .logo .logo1 {
      width: auto;
      height: 86px; }
  .main-index .buscador {
    grid-row: 3/4;
    align-self: start;
    width: 230px;
    height: 46px; }
    .main-index .buscador .buscadorintro {
      width: 230px;
      height: 30px;
      background: white;
      border-radius: 50px;
      border-color: #CCD1D1;
      font-size: 12px;
      text-transform: capitalize;
      text-align: center; }

.parrafo-main {
  grid-row: 4/5;
  text-align: center;
  align-self: center; }
  .parrafo-main .info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: white; }
  .parrafo-main .lorem1024 {
    display: none; }

.footer {
  display: flex;
  background-color: #6C757D;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 60px;
  align-items: center; }
  .footer .link {
    display: flex; }
    .footer .link .lfooter .icono {
      font-size: 30px; }
    .footer .link .nombre {
      display: none;
      text-transform: capitalize;
      color: white; }

.main-dama {
  background-image: url(../images/fondonosotrosclara.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: space-around;
  background-color: grey; }
  .main-dama .titulo {
    justify-content: space-around;
    align-self: center;
    align-items: center;
    align-content: center;
    height: 60px; }
    .main-dama .titulo h1 {
      justify-content: center;
      text-align: center;
      grid-row: 1/2;
      color: white;
      text-shadow: 0px 0px 10px black; }
  .main-dama .chicas {
    display: grid;
    justify-items: center; }
    .main-dama .chicas .foto1, .main-dama .chicas .main-hombre .chicos .foto2, .main-hombre .chicos .main-dama .chicas .foto2, .main-dama .chicas .main-hombre .chicos .foto3, .main-hombre .chicos .main-dama .chicas .foto3, .main-dama .chicas .main-hombre .chicos .foto4, .main-hombre .chicos .main-dama .chicas .foto4, .main-dama .chicas .main-hombre .chicos .foto5, .main-hombre .chicos .main-dama .chicas .foto5, .main-dama .chicas .main-hombre .chicos .foto6, .main-hombre .chicos .main-dama .chicas .foto6 {
      grid-row: 2/3;
      width: 212px;
      height: 336px;
      border: 5px solid grey;
      box-shadow: 0px 0px 10px black;
      text-align: center; }
      .main-dama .chicas .foto1 h2, .main-dama .chicas .main-hombre .chicos .foto2 h2, .main-hombre .chicos .main-dama .chicas .foto2 h2, .main-dama .chicas .main-hombre .chicos .foto3 h2, .main-hombre .chicos .main-dama .chicas .foto3 h2, .main-dama .chicas .main-hombre .chicos .foto4 h2, .main-hombre .chicos .main-dama .chicas .foto4 h2, .main-dama .chicas .main-hombre .chicos .foto5 h2, .main-hombre .chicos .main-dama .chicas .foto5 h2, .main-dama .chicas .main-hombre .chicos .foto6 h2, .main-hombre .chicos .main-dama .chicas .foto6 h2 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
      .main-dama .chicas .foto1 h3, .main-dama .chicas .main-hombre .chicos .foto2 h3, .main-hombre .chicos .main-dama .chicas .foto2 h3, .main-dama .chicas .main-hombre .chicos .foto3 h3, .main-hombre .chicos .main-dama .chicas .foto3 h3, .main-dama .chicas .main-hombre .chicos .foto4 h3, .main-hombre .chicos .main-dama .chicas .foto4 h3, .main-dama .chicas .main-hombre .chicos .foto5 h3, .main-hombre .chicos .main-dama .chicas .foto5 h3, .main-dama .chicas .main-hombre .chicos .foto6 h3, .main-hombre .chicos .main-dama .chicas .foto6 h3 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
    .main-dama .chicas .foto2 {
      grid-row: 3/4;
      width: 212px;
      height: 336px;
      border: 5px solid grey;
      box-shadow: 0px 0px 10px black;
      text-align: center; }
      .main-dama .chicas .foto2 h2 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
      .main-dama .chicas .foto2 h3 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
    .main-dama .chicas .foto3 {
      grid-row: 4/5;
      width: 212px;
      height: 336px;
      border: 5px solid grey;
      box-shadow: 0px 0px 10px black;
      text-align: center; }
      .main-dama .chicas .foto3 h2 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
      .main-dama .chicas .foto3 h3 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
    .main-dama .chicas .foto4 {
      grid-row: 5/6;
      width: 212px;
      height: 336px;
      border: 5px solid grey;
      box-shadow: 0px 0px 10px black;
      text-align: center; }
      .main-dama .chicas .foto4 h2 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
      .main-dama .chicas .foto4 h3 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
    .main-dama .chicas .foto5 {
      grid-row: 6/7;
      width: 212px;
      height: 336px;
      border: 5px solid grey;
      box-shadow: 0px 0px 10px black;
      text-align: center; }
      .main-dama .chicas .foto5 h2 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
      .main-dama .chicas .foto5 h3 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
    .main-dama .chicas .foto6 {
      grid-row: 7/8;
      width: 212px;
      height: 336px;
      border: 5px solid grey;
      box-shadow: 0px 0px 10px black;
      text-align: center; }
      .main-dama .chicas .foto6 h2 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
      .main-dama .chicas .foto6 h3 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
    .main-dama .chicas .foto7 {
      grid-row: 8/9;
      width: 212px;
      height: 336px;
      border: 5px solid grey;
      box-shadow: 0px 0px 10px black;
      text-align: center; }
      .main-dama .chicas .foto7 h2 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
      .main-dama .chicas .foto7 h3 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
    .main-dama .chicas .foto8 {
      grid-row: 9/10;
      width: 212px;
      height: 336px;
      border: 5px solid grey;
      box-shadow: 0px 0px 10px black;
      text-align: center; }
      .main-dama .chicas .foto8 h2 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
      .main-dama .chicas .foto8 h3 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
    .main-dama .chicas .foto9 {
      grid-row: 10/11;
      width: 212px;
      height: 336px;
      border: 5px solid grey;
      box-shadow: 0px 0px 10px black;
      text-align: center; }
      .main-dama .chicas .foto9 h2 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
      .main-dama .chicas .foto9 h3 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
    .main-dama .chicas .foto10 {
      grid-row: 11/12;
      width: 212px;
      height: 336px;
      border: 5px solid grey;
      box-shadow: 0px 0px 10px black;
      text-align: center; }
      .main-dama .chicas .foto10 h2 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
      .main-dama .chicas .foto10 h3 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
    .main-dama .chicas .foto11 {
      grid-row: 12/13;
      width: 212px;
      height: 336px;
      border: 5px solid grey;
      box-shadow: 0px 0px 10px black;
      text-align: center; }
      .main-dama .chicas .foto11 h2 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
      .main-dama .chicas .foto11 h3 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
    .main-dama .chicas .foto12 {
      grid-row: 13/14;
      width: 212px;
      height: 336px;
      border: 5px solid grey;
      box-shadow: 0px 0px 10px black;
      text-align: center; }
      .main-dama .chicas .foto12 h2 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
      .main-dama .chicas .foto12 h3 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
    .main-dama .chicas .foto13 {
      grid-row: 14/15;
      width: 212px;
      height: 336px;
      border: 5px solid grey;
      box-shadow: 0px 0px 10px black;
      text-align: center; }
      .main-dama .chicas .foto13 h2 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
      .main-dama .chicas .foto13 h3 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
    .main-dama .chicas .foto14 {
      grid-row: 15/16;
      width: 212px;
      height: 336px;
      border: 5px solid grey;
      box-shadow: 0px 0px 10px black;
      text-align: center; }
      .main-dama .chicas .foto14 h2 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
      .main-dama .chicas .foto14 h3 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
    .main-dama .chicas .foto15 {
      grid-row: 16/17;
      width: 212px;
      height: 336px;
      border: 5px solid grey;
      box-shadow: 0px 0px 10px black;
      text-align: center; }
      .main-dama .chicas .foto15 h2 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
      .main-dama .chicas .foto15 h3 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }

.main-hombre {
  background-image: url(../images/fondonosotrosclara.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: space-around;
  background-color: grey; }
  .main-hombre .titulo {
    justify-content: space-around;
    align-self: center;
    align-items: center;
    align-content: center;
    height: 60px; }
    .main-hombre .titulo h1 {
      justify-content: center;
      text-align: center;
      grid-row: 1/2;
      color: white;
      text-shadow: 0px 0px 10px black; }
  .main-hombre .chicos {
    display: grid;
    justify-items: center; }
    .main-hombre .chicos .foto1, .main-hombre .chicos .foto2, .main-hombre .chicos .foto3, .main-hombre .chicos .foto4, .main-hombre .chicos .foto5, .main-hombre .chicos .foto6 {
      grid-row: 2/3;
      width: 212px;
      height: 336px;
      border: 5px solid grey;
      box-shadow: 0px 0px 10px black;
      text-align: center; }
      .main-hombre .chicos .foto1 h2, .main-hombre .chicos .foto2 h2, .main-hombre .chicos .foto3 h2, .main-hombre .chicos .foto4 h2, .main-hombre .chicos .foto5 h2, .main-hombre .chicos .foto6 h2 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
      .main-hombre .chicos .foto1 h3, .main-hombre .chicos .foto2 h3, .main-hombre .chicos .foto3 h3, .main-hombre .chicos .foto4 h3, .main-hombre .chicos .foto5 h3, .main-hombre .chicos .foto6 h3 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
    .main-hombre .chicos .foto2 {
      grid-row: 3/4;
      text-align: center; }
    .main-hombre .chicos .foto3 {
      grid-row: 4/5;
      text-align: center; }
    .main-hombre .chicos .foto4 {
      grid-row: 5/6;
      text-align: center; }
    .main-hombre .chicos .foto5 {
      grid-row: 6/7;
      text-align: center; }
    .main-hombre .chicos .foto6 {
      grid-row: 7/8;
      text-align: center; }
    .main-hombre .chicos .foto7 {
      grid-row: 8/9;
      width: 212px;
      height: 336px;
      border: 5px solid grey;
      box-shadow: 0px 0px 10px black;
      text-align: center; }
      .main-hombre .chicos .foto7 h2 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
      .main-hombre .chicos .foto7 h3 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
    .main-hombre .chicos .foto8 {
      grid-row: 9/10;
      width: 212px;
      height: 336px;
      border: 5px solid grey;
      box-shadow: 0px 0px 10px black;
      text-align: center; }
      .main-hombre .chicos .foto8 h2 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
      .main-hombre .chicos .foto8 h3 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
    .main-hombre .chicos .foto9 {
      grid-row: 10/11;
      width: 212px;
      height: 336px;
      border: 5px solid grey;
      box-shadow: 0px 0px 10px black;
      text-align: center; }
      .main-hombre .chicos .foto9 h2 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
      .main-hombre .chicos .foto9 h3 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
    .main-hombre .chicos .foto10 {
      grid-row: 11/12;
      width: 212px;
      height: 336px;
      border: 5px solid grey;
      box-shadow: 0px 0px 10px black;
      text-align: center; }
      .main-hombre .chicos .foto10 h2 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
      .main-hombre .chicos .foto10 h3 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
    .main-hombre .chicos .foto11 {
      grid-row: 12/13;
      width: 212px;
      height: 336px;
      border: 5px solid grey;
      box-shadow: 0px 0px 10px black;
      text-align: center; }
      .main-hombre .chicos .foto11 h2 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
      .main-hombre .chicos .foto11 h3 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
    .main-hombre .chicos .foto12 {
      grid-row: 13/14;
      width: 212px;
      height: 336px;
      border: 5px solid grey;
      box-shadow: 0px 0px 10px black;
      text-align: center; }
      .main-hombre .chicos .foto12 h2 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
      .main-hombre .chicos .foto12 h3 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
    .main-hombre .chicos .foto13 {
      grid-row: 14/15;
      width: 212px;
      height: 336px;
      border: 5px solid grey;
      box-shadow: 0px 0px 10px black;
      text-align: center; }
      .main-hombre .chicos .foto13 h2 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
      .main-hombre .chicos .foto13 h3 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
    .main-hombre .chicos .foto14 {
      grid-row: 15/16;
      width: 212px;
      height: 336px;
      border: 5px solid grey;
      box-shadow: 0px 0px 10px black;
      text-align: center; }
      .main-hombre .chicos .foto14 h2 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
      .main-hombre .chicos .foto14 h3 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
    .main-hombre .chicos .foto15 {
      grid-row: 16/17;
      width: 212px;
      height: 336px;
      border: 5px solid grey;
      box-shadow: 0px 0px 10px black;
      text-align: center; }
      .main-hombre .chicos .foto15 h2 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }
      .main-hombre .chicos .foto15 h3 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 0px 10px black; }

.mainnos {
  background-image: url(../images/fondonosotrosclara.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: center;
  background-color: grey;
  display: grid;
  height: 962x; }
  .mainnos .titulo2 {
    color: #0a0a0a;
    text-align: center;
    text-shadow: 0px 0px 10px black; }
  .mainnos .tarjeta1 {
    width: 270px;
    height: 95px;
    text-align: center; }
    .mainnos .tarjeta1 h2 {
      color: #0a0a0a;
      font-size: 25px;
      font-family: Arial, Helvetica, sans-serif;
      text-shadow: 0px 0px 10px black; }
    .mainnos .tarjeta1 h4 {
      color: #0a0a0a;
      font-size: 12px;
      font-family: Arial, Helvetica, sans-serif;
      text-shadow: 0px 0px 10px black; }
  .mainnos .tarjeta2 {
    width: 270px;
    height: 150px;
    text-align: center; }
    .mainnos .tarjeta2 h2 {
      color: #0a0a0a;
      font-size: 25px;
      font-family: Arial, Helvetica, sans-serif;
      text-shadow: 0px 0px 10px black; }
    .mainnos .tarjeta2 h4 {
      color: #0a0a0a;
      font-size: 12px;
      font-family: Arial, Helvetica, sans-serif;
      text-shadow: 0px 0px 10px black; }
  .mainnos .tarjeta4 {
    width: 270px;
    height: 420px;
    text-align: center; }
    .mainnos .tarjeta4 h2 {
      color: #0a0a0a;
      font-size: 25px;
      font-family: Arial, Helvetica, sans-serif;
      text-shadow: 0px 0px 10px black; }
    .mainnos .tarjeta4 h4 {
      color: #0a0a0a;
      font-size: 12px;
      font-family: Arial, Helvetica, sans-serif;
      text-shadow: 0px 0px 10px black; }

.main-cont {
  background-image: url(../images/Fondodepantalla.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-items: center;
  background-color: grey;
  display: grid;
  height: 900px; }
  .main-cont .tituloh2 .titulo2 {
    color: white;
    text-shadow: 0px 0px 10px black;
    text-align: left; }
  .main-cont .horario h3 {
    text-align: center;
    font-size: 16px;
    color: white;
    text-shadow: 0px 0px 10px black; }
  .main-cont .formulario .caja1 {
    grid-row: 3/4; }
    .main-cont .formulario .caja1 .envio {
      text-transform: capitalize;
      color: white;
      text-shadow: 0px 0px 10px black; }
    .main-cont .formulario .caja1 .intro {
      width: 265px;
      height: 30px;
      background: white;
      border-radius: 50px;
      border-color: #CCD1D1;
      font-size: 20px;
      text-transform: capitalize;
      text-align: center; }
  .main-cont .formulario .caja2 {
    grid-row: 4/5; }
    .main-cont .formulario .caja2 .envio {
      text-transform: capitalize;
      color: white;
      text-shadow: 0px 0px 10px black; }
    .main-cont .formulario .caja2 .intro {
      width: 265px;
      height: 30px;
      background: white;
      border-radius: 50px;
      border-color: #CCD1D1;
      font-size: 20px;
      text-transform: capitalize;
      text-align: center; }
  .main-cont .formulario .caja3 {
    grid-row: 5/6; }
    .main-cont .formulario .caja3 .envio {
      text-transform: capitalize;
      color: white;
      text-shadow: 0px 0px 10px black; }
    .main-cont .formulario .caja3 .intro {
      width: 265px;
      height: 30px;
      background: white;
      border-radius: 50px;
      border-color: #CCD1D1;
      font-size: 20px;
      text-transform: capitalize;
      text-align: center; }
  .main-cont .formulario .caja4 {
    grid-row: 6/7; }
    .main-cont .formulario .caja4 .envio {
      text-transform: capitalize;
      color: white;
      text-shadow: 0px 0px 10px black; }
    .main-cont .formulario .caja4 .coment {
      width: 265px;
      height: 265px;
      background: white;
      border-radius: 50px;
      border-color: #CCD1D1;
      font-size: 20px;
      text-transform: capitalize;
      text-align: center; }
  .main-cont .scripcont .envio {
    text-transform: capitalize;
    color: white;
    text-shadow: 0px 0px 10px black; }
  .main-cont .scripcont .mapa {
    width: 300px;
    height: auto; }

@media (min-width: 320px) {
  .main-index {
    background-image: url(../images/Fondodepantallaclara.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 112px);
    justify-items: center; }
    .main-index .logo {
      width: 78px;
      height: 70px;
      justify-content: center;
      justify-self: center;
      justify-items: center;
      align-self: center;
      grid-row: 1/3; }
      .main-index .logo .logo1 {
        width: auto;
        height: 70px; }
    .main-index .buscador {
      grid-row: 3/4;
      align-self: center;
      width: 200px;
      height: 38px; }
      .main-index .buscador .buscadorintro {
        width: 200px;
        height: 30px;
        background: white;
        border-radius: 50px;
        border-color: #CCD1D1;
        font-size: 12px;
        text-transform: capitalize;
        text-align: center; }
  .parrafo-main {
    grid-row: 4/5;
    text-align: center;
    align-self: center; }
    .parrafo-main .info {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      color: white; }
    .parrafo-main .lorem1024 {
      display: none; }
  .footer {
    display: flex;
    background-color: #6C757D;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 60px;
    align-items: center; }
    .footer .link {
      display: flex;
      align-items: center; }
      .footer .link .lfooter .icono {
        font-size: 35px; }
  /* fin de footer */
  .main-dama {
    /* background-image: url(../images/Fondodepantalla.jpg); */ }
    .main-dama .titulo h1 {
      grid-row: 1/2;
      color: white;
      text-shadow: black; }
    .main-dama .chicas .foto1, .main-dama .chicas .main-hombre .chicos .foto2, .main-hombre .chicos .main-dama .chicas .foto2, .main-dama .chicas .main-hombre .chicos .foto3, .main-hombre .chicos .main-dama .chicas .foto3, .main-dama .chicas .main-hombre .chicos .foto4, .main-hombre .chicos .main-dama .chicas .foto4, .main-dama .chicas .main-hombre .chicos .foto5, .main-hombre .chicos .main-dama .chicas .foto5, .main-dama .chicas .main-hombre .chicos .foto6, .main-hombre .chicos .main-dama .chicas .foto6 {
      grid-row: 2/3;
      width: 212px;
      height: 336px; }
    .main-dama .chicas .foto2 {
      grid-row: 3/4; }
    .main-dama .chicas .foto3 {
      grid-row: 4/5; }
    .main-dama .chicas .foto4 {
      grid-row: 5/6; }
    .main-dama .chicas .foto5 {
      grid-row: 6/7; }
    .main-dama .chicas .foto6 {
      grid-row: 7/8; }
  /* fin de maindama */
  .main-hombre {
    /* background-image: url(../images/Fondodepantalla.jpg); */ }
    .main-hombre .titulo h1 {
      grid-row: 1/2;
      color: white;
      text-shadow: 0px 0px 10px black; }
    .main-hombre .chicos .foto1, .main-hombre .chicos .foto2, .main-hombre .chicos .foto3, .main-hombre .chicos .foto4, .main-hombre .chicos .foto5, .main-hombre .chicos .foto6 {
      grid-row: 2/3;
      width: 212px;
      height: 336px; }
    .main-hombre .chicos .foto2 {
      grid-row: 3/4; }
    .main-hombre .chicos .foto3 {
      grid-row: 4/5; }
    .main-hombre .chicos .foto4 {
      grid-row: 5/6; }
    .main-hombre .chicos .foto5 {
      grid-row: 6/7; }
    .main-hombre .chicos .foto6 {
      grid-row: 7/8; }
  /* fin de mainnosotros */
  .main-cont {
    /*   background-image: url(../images/Fondodepantalla.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-items: center;
    background-color: grey;
    display: grid;
    height: 900px; }
    .main-cont .tituloh2 .titulo2 {
      color: white;
      text-shadow: 0px 0px 10px black;
      text-align: left; }
    .main-cont .horario h3 {
      text-align: center;
      font-size: 16px;
      color: white;
      text-shadow: 0px 0px 10px black; }
    .main-cont .formulario .caja1 {
      grid-row: 3/4; }
      .main-cont .formulario .caja1 .envio {
        text-transform: capitalize;
        color: white;
        text-shadow: 0px 0px 10px black; }
      .main-cont .formulario .caja1 .intro {
        width: 265px;
        height: 30px;
        background: white;
        border-radius: 50px;
        border-color: #CCD1D1;
        font-size: 20px;
        text-transform: capitalize;
        text-align: center; }
    .main-cont .formulario .caja2 {
      grid-row: 4/5; }
      .main-cont .formulario .caja2 .envio {
        text-transform: capitalize;
        color: white;
        text-shadow: 0px 0px 10px black; }
      .main-cont .formulario .caja2 .intro {
        width: 265px;
        height: 30px;
        background: white;
        border-radius: 50px;
        border-color: #CCD1D1;
        font-size: 20px;
        text-transform: capitalize;
        text-align: center; }
    .main-cont .formulario .caja3 {
      grid-row: 5/6; }
      .main-cont .formulario .caja3 .envio {
        text-transform: capitalize;
        color: white;
        text-shadow: 0px 0px 10px black; }
      .main-cont .formulario .caja3 .intro {
        width: 265px;
        height: 30px;
        background: white;
        border-radius: 50px;
        border-color: #CCD1D1;
        font-size: 20px;
        text-transform: capitalize;
        text-align: center; }
    .main-cont .formulario .caja4 .envio {
      text-transform: capitalize;
      color: white;
      text-shadow: 0px 0px 10px black; }
    .main-cont .formulario .caja4 .coment {
      width: 265px;
      height: 265px;
      background: white;
      border-radius: 50px;
      border-color: #CCD1D1;
      font-size: 20px;
      text-transform: capitalize;
      text-align: center; }
    .main-cont .scripcont .mapa {
      width: 300px;
      height: auto; } }

@media (min-width: 768px) {
  .main-index {
    grid-template-rows: repeat(8, 75px); }
    .main-index .logo {
      width: 250px;
      height: 168px;
      grid-row: 1/4; }
      .main-index .logo .logo1 {
        width: 250px;
        height: 168px; }
    .main-index .buscador {
      grid-row: 4/6;
      width: 450px;
      height: 46px; }
      .main-index .buscador .buscadorintro {
        width: 450px;
        height: 40px; }
  .parrafo-main {
    grid-row: 7/8; }
    .parrafo-main .info {
      font-size: 30px; }
  .footer {
    height: 81px; }
  /* fin de mainindex */
  .main-dama {
    background-image: url(../images/fondonosotrosclara.png); }
    .main-dama .titulo {
      height: 70px; }
      .main-dama .titulo h1 {
        grid-row: 1/2; }
    .main-dama .chicas {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, 1fr); }
      .main-dama .chicas .foto1, .main-dama .chicas .main-hombre .chicos .foto2, .main-hombre .chicos .main-dama .chicas .foto2, .main-dama .chicas .main-hombre .chicos .foto3, .main-hombre .chicos .main-dama .chicas .foto3, .main-dama .chicas .main-hombre .chicos .foto4, .main-hombre .chicos .main-dama .chicas .foto4, .main-dama .chicas .main-hombre .chicos .foto5, .main-hombre .chicos .main-dama .chicas .foto5, .main-dama .chicas .main-hombre .chicos .foto6, .main-hombre .chicos .main-dama .chicas .foto6 {
        grid-row: 1/2;
        grid-column: 1/2; }
      .main-dama .chicas .foto2 {
        grid-row: 1/2;
        grid-column: 2/3; }
      .main-dama .chicas .foto3 {
        grid-row: 2/3;
        grid-column: 1/2; }
      .main-dama .chicas .foto4 {
        grid-row: 2/3;
        grid-column: 2/3; }
      .main-dama .chicas .foto5 {
        grid-row: 3/4;
        grid-column: 1/2; }
      .main-dama .chicas .foto6 {
        grid-row: 3/4;
        grid-column: 2/3; }
      .main-dama .chicas .foto7 {
        grid-row: 4/5;
        grid-column: 1/2; }
      .main-dama .chicas .foto8 {
        grid-row: 4/5;
        grid-column: 2/3; }
      .main-dama .chicas .foto9 {
        grid-row: 5/6;
        grid-column: 1/2; }
      .main-dama .chicas .foto10 {
        grid-row: 5/6;
        grid-column: 2/3; }
      .main-dama .chicas .foto11 {
        grid-row: 6/7;
        grid-column: 1/2; }
      .main-dama .chicas .foto12 {
        grid-row: 6/7;
        grid-column: 2/3; }
      .main-dama .chicas .foto13 {
        grid-row: 7/8;
        grid-column: 2/3; }
      .main-dama .chicas .foto14 {
        grid-row: 7/8;
        grid-column: 1/2; }
      .main-dama .chicas .foto15 {
        display: none; }
  /* fin de maindama */
  .main-hombre {
    background-image: url(../images/fondonosotrosclara.png); }
    .main-hombre .titulo {
      height: 70px; }
      .main-hombre .titulo h1 {
        justify-content: center;
        text-align: center;
        grid-row: 1/2;
        color: white; }
    .main-hombre .chicos {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, 1fr); }
      .main-hombre .chicos .foto1, .main-hombre .chicos .foto2, .main-hombre .chicos .foto3, .main-hombre .chicos .foto4, .main-hombre .chicos .foto5, .main-hombre .chicos .foto6 {
        grid-row: 1/2;
        grid-column: 1/2; }
      .main-hombre .chicos .foto2 {
        grid-row: 1/2;
        grid-column: 2/3; }
      .main-hombre .chicos .foto3 {
        grid-row: 2/3;
        grid-column: 1/2; }
      .main-hombre .chicos .foto4 {
        grid-row: 2/3;
        grid-column: 2/3; }
      .main-hombre .chicos .foto5 {
        grid-row: 3/4;
        grid-column: 1/2; }
      .main-hombre .chicos .foto6 {
        grid-row: 3/4;
        grid-column: 2/3; }
      .main-hombre .chicos .foto7 {
        grid-row: 4/5;
        grid-column: 1/2; }
      .main-hombre .chicos .foto8 {
        grid-row: 4/5;
        grid-column: 2/3; }
      .main-hombre .chicos .foto9 {
        grid-row: 5/6;
        grid-column: 1/2; }
      .main-hombre .chicos .foto10 {
        grid-row: 5/6;
        grid-column: 2/3; }
      .main-hombre .chicos .foto11 {
        grid-row: 6/7;
        grid-column: 1/2; }
      .main-hombre .chicos .foto12 {
        grid-row: 6/7;
        grid-column: 2/3; }
      .main-hombre .chicos .foto13 {
        grid-row: 7/8;
        grid-column: 2/3; }
      .main-hombre .chicos .foto14 {
        grid-row: 7/8;
        grid-column: 1/2; }
      .main-hombre .chicos .foto15 {
        display: none; }
  /* fin de mainhombre */
  .mainnos {
    background-image: url(../images/fondonosotrosclara.png);
    height: 950px;
    align-content: center; }
    .mainnos .titulo2 {
      color: #0a0a0a;
      text-align: center;
      font-size: 45px;
      text-shadow: 0px 0px 10px black;
      height: 60px; }
    .mainnos .tarjeta1 {
      width: 570px;
      height: 190px; }
      .mainnos .tarjeta1 h2 {
        font-size: 30px; }
      .mainnos .tarjeta1 h4 {
        font-size: 18px; }
    .mainnos .tarjeta2 {
      width: 570px;
      height: 200px; }
      .mainnos .tarjeta2 h2 {
        font-size: 30px; }
      .mainnos .tarjeta2 h4 {
        font-size: 18px; }
    .mainnos .tarjeta4 {
      width: 570px;
      height: 420px; }
      .mainnos .tarjeta4 h2 {
        font-size: 30px; }
      .mainnos .tarjeta4 h4 {
        font-size: 18px; }
  /* fin de mainnosotros */
  .main-cont {
    background-image: url(../images/Fondodepantalla.jpg);
    display: grid;
    height: 900px; }
    .main-cont .titulo2 {
      width: 150px;
      height: 33px;
      font-size: 30px; }
    .main-cont .horario h3 {
      font-size: 20px; }
    .main-cont .formulario .caja1 {
      grid-row: 3/4; }
      .main-cont .formulario .caja1 .envio {
        color: white;
        text-shadow: 0px 0px 10px black; }
      .main-cont .formulario .caja1 .intro {
        width: 265px;
        height: 30px;
        border-radius: 50px;
        font-size: 20px; }
    .main-cont .formulario .caja2 {
      grid-row: 4/5; }
      .main-cont .formulario .caja2 .envio {
        color: white;
        text-shadow: 0px 0px 10px black; }
      .main-cont .formulario .caja2 .intro {
        width: 265px;
        height: 30px;
        border-radius: 50px;
        font-size: 20px; }
    .main-cont .formulario .caja3 {
      grid-row: 5/6; }
      .main-cont .formulario .caja3 .envio {
        width: 200px; }
      .main-cont .formulario .caja3 .intro {
        width: 265px;
        height: 30px;
        border-radius: 50px;
        font-size: 20px; }
    .main-cont .formulario .caja4 .envio {
      text-transform: capitalize;
      color: white; }
    .main-cont .formulario .caja4 .coment {
      width: 265px;
      height: 265px;
      border-radius: 50px;
      font-size: 20px; }
    .main-cont .scripcont .envio {
      font-size: 30px; }
    .main-cont .scripcont .mapa {
      width: 300px;
      height: auto; } }

@media (min-width: 1024px) {
  .header .container-fluid .navbar-brand .logochico {
    width: 40px;
    height: auto; }
  .header .collapse .navbar-nav .nav-item {
    font-size: 35px; }
  .main-index {
    grid-template-rows: repeat(9, 68px); }
    .main-index .logo {
      width: 250px;
      height: 200px;
      grid-row: 1/5; }
      .main-index .logo .logo1 {
        width: 250px;
        height: 200px; }
    .main-index .buscador {
      grid-row: 5/8;
      width: 500px;
      height: 70px; }
      .main-index .buscador .buscadorintro {
        width: 500px;
        height: 40px; }
  .parrafo-main {
    grid-row: 8/10; }
    .parrafo-main .info {
      font-size: 28px;
      text-shadow: 0px 0px 10px black; }
    .parrafo-main .lorem1024 {
      display: block;
      font-size: 22px;
      text-shadow: 0px 0px 10px black;
      color: white;
      text-align: center; }
    .parrafo-main .footer {
      height: 70px; }
      .parrafo-main .footer .link {
        display: flex; }
        .parrafo-main .footer .link .lfooter .icono {
          font-size: 50px; }
        .parrafo-main .footer .link .nombre {
          display: block; }
  /* fin de mainindex */
  .main-dama {
    background-image: url(../images/fondonosotrosclara.png); }
    .main-dama .titulo {
      height: 80px; }
      .main-dama .titulo h1 {
        grid-row: 1/2; }
    .main-dama .chicas {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr); }
      .main-dama .chicas .foto1, .main-dama .chicas .main-hombre .chicos .foto2, .main-hombre .chicos .main-dama .chicas .foto2, .main-dama .chicas .main-hombre .chicos .foto3, .main-hombre .chicos .main-dama .chicas .foto3, .main-dama .chicas .main-hombre .chicos .foto4, .main-hombre .chicos .main-dama .chicas .foto4, .main-dama .chicas .main-hombre .chicos .foto5, .main-hombre .chicos .main-dama .chicas .foto5, .main-dama .chicas .main-hombre .chicos .foto6, .main-hombre .chicos .main-dama .chicas .foto6 {
        grid-row: 1/2;
        grid-column: 1/2; }
      .main-dama .chicas .foto2 {
        grid-row: 1/2;
        grid-column: 2/3; }
      .main-dama .chicas .foto3 {
        grid-row: 1/2;
        grid-column: 3/4; }
      .main-dama .chicas .foto4 {
        grid-row: 2/3;
        grid-column: 1/2; }
      .main-dama .chicas .foto5 {
        grid-row: 2/3;
        grid-column: 2/3; }
      .main-dama .chicas .foto6 {
        grid-row: 2/3;
        grid-column: 3/4; }
      .main-dama .chicas .foto7 {
        grid-row: 3/4;
        grid-column: 1/2; }
      .main-dama .chicas .foto8 {
        grid-row: 3/4;
        grid-column: 2/3; }
      .main-dama .chicas .foto9 {
        grid-row: 3/4;
        grid-column: 3/4; }
      .main-dama .chicas .foto10 {
        grid-row: 4/5;
        grid-column: 1/2; }
      .main-dama .chicas .foto11 {
        grid-row: 4/5;
        grid-column: 2/3; }
      .main-dama .chicas .foto12 {
        grid-row: 4/5;
        grid-column: 3/4; }
      .main-dama .chicas .foto13 {
        grid-row: 5/6;
        grid-column: 1/2; }
      .main-dama .chicas .foto14 {
        grid-row: 5/6;
        grid-column: 2/3; }
      .main-dama .chicas .foto15 {
        display: block;
        grid-row: 5/6;
        grid-column: 3/4; }
  /* fin de maindama */
  .main-hombre {
    background-image: url(../images/fondonosotrosclara.png); }
    .main-hombre .titulo {
      height: 70px; }
      .main-hombre .titulo h1 {
        justify-content: center;
        text-align: center;
        grid-row: 1/2;
        color: white; }
    .main-hombre .chicos {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr); }
      .main-hombre .chicos .foto1, .main-hombre .chicos .foto2, .main-hombre .chicos .foto3, .main-hombre .chicos .foto4, .main-hombre .chicos .foto5, .main-hombre .chicos .foto6 {
        grid-row: 1/2;
        grid-column: 1/2; }
      .main-hombre .chicos .foto2 {
        grid-row: 1/2;
        grid-column: 2/3; }
      .main-hombre .chicos .foto3 {
        grid-row: 1/2;
        grid-column: 3/4; }
      .main-hombre .chicos .foto4 {
        grid-row: 2/3;
        grid-column: 1/2; }
      .main-hombre .chicos .foto5 {
        grid-row: 2/3;
        grid-column: 2/3; }
      .main-hombre .chicos .foto6 {
        grid-row: 2/3;
        grid-column: 3/4; }
      .main-hombre .chicos .foto7 {
        grid-row: 3/4;
        grid-column: 1/2; }
      .main-hombre .chicos .foto8 {
        grid-row: 3/4;
        grid-column: 2/3; }
      .main-hombre .chicos .foto9 {
        grid-row: 3/4;
        grid-column: 3/4; }
      .main-hombre .chicos .foto10 {
        grid-row: 4/5;
        grid-column: 1/2; }
      .main-hombre .chicos .foto11 {
        grid-row: 4/5;
        grid-column: 2/3; }
      .main-hombre .chicos .foto12 {
        grid-row: 4/5;
        grid-column: 3/4; }
      .main-hombre .chicos .foto13 {
        grid-row: 5/6;
        grid-column: 1/2; }
      .main-hombre .chicos .foto14 {
        grid-row: 5/6;
        grid-column: 2/3; }
      .main-hombre .chicos .foto15 {
        display: block;
        grid-row: 5/6;
        grid-column: 3/4; }
  /* fin de mainhombre */
  /*modificaciones de footer*/
  .footer .link .lfooter .icono {
    font-size: 50px; }
  .footer .link .nombre {
    display: block;
    font-size: 20px;
    text-align: center;
    align-items: center; }
  /* fin de footer */
  .main-cont {
    background-image: url(../images/Fondodepantalla.jpg);
    display: grid;
    height: 900px; }
    .main-cont .titulo2 {
      width: 200px;
      height: 40px;
      font-size: 40px;
      /*        color: $blanco;
                text-align: left; */ }
  .horario h3 {
    /* text-align: center; */
    font-size: 16px;
    /*  color: $blanco; */ }
  .formulario .caja1 {
    grid-row: 3/4; }
    .formulario .caja1 .envio {
      color: white; }
    .formulario .caja1 .intro {
      width: 265px;
      height: 30px;
      border-radius: 50px;
      font-size: 20px; }
  .formulario .caja2 {
    grid-row: 4/5; }
    .formulario .caja2 .envio {
      width: 250px; }
    .formulario .caja2 .intro {
      width: 265px;
      height: 30px;
      border-radius: 50px;
      font-size: 20px; }
    .formulario .caja2 .caja3 {
      grid-row: 5/6; }
      .formulario .caja2 .caja3 .envio {
        width: 250px; }
      .formulario .caja2 .caja3 .intro {
        width: 265px;
        height: 30px;
        border-radius: 50px;
        font-size: 20px; }
      .formulario .caja2 .caja3 .caja4 .envio {
        text-transform: capitalize;
        color: white; }
      .formulario .caja2 .caja3 .caja4 .coment {
        width: 265px;
        height: 265px;
        border-radius: 50px;
        font-size: 20px; }
    .formulario .caja2 .scripcont .mapa {
      width: 300px;
      height: auto; }
  /* fin de contactos */
  .mainnos {
    background-image: url(../images/fondonosotrosclara.png);
    height: 1250px; }
    .mainnos .titulo2 {
      color: #0a0a0a;
      text-align: center;
      font-size: 55px;
      text-shadow: 0px 0px 10px black;
      height: 60px; }
    .mainnos .tarjeta1 {
      width: 670px;
      height: 160px; }
      .mainnos .tarjeta1 h2 {
        font-size: 35px; }
      .mainnos .tarjeta1 h4 {
        font-size: 25px; }
    .mainnos .tarjeta2 {
      width: 670px;
      height: 260px; }
      .mainnos .tarjeta2 h2 {
        font-size: 35px; }
      .mainnos .tarjeta2 h4 {
        font-size: 25px; }
    .mainnos .tarjeta4 {
      width: 670px;
      height: 680px; }
      .mainnos .tarjeta4 h2 {
        font-size: 35px; }
      .mainnos .tarjeta4 h4 {
        font-size: 25px; }
  /* fin de mainnosotros */
  .main-cont {
    background-image: url(../images/Fondodepantalla.jpg);
    display: grid;
    height: 900px; }
    .main-cont .titulo2 {
      width: 150px;
      height: 37px;
      font-size: 35px; }
    .main-cont .horario h3 {
      font-size: 27px; }
    .main-cont .formulario .caja1 {
      grid-row: 3/4; }
      .main-cont .formulario .caja1 .envio {
        color: white;
        text-shadow: 0px 0px 10px black; }
      .main-cont .formulario .caja1 .intro {
        width: 400px;
        height: 40px;
        border-radius: 60px;
        font-size: 28px; }
    .main-cont .formulario .caja2 {
      grid-row: 4/5; }
      .main-cont .formulario .caja2 .envio {
        color: white;
        text-shadow: 0px 0px 10px black; }
      .main-cont .formulario .caja2 .intro {
        width: 400px;
        height: 40px;
        border-radius: 60px;
        font-size: 28px; }
    .main-cont .formulario .caja3 {
      grid-row: 5/6; }
      .main-cont .formulario .caja3 .envio {
        width: 200px; }
      .main-cont .formulario .caja3 .intro {
        width: 400px;
        height: 40px;
        border-radius: 60px;
        font-size: 28px; }
    .main-cont .formulario .caja4 .envio {
      text-transform: capitalize;
      color: white; }
    .main-cont .formulario .caja4 .coment {
      width: 400px;
      height: 150px;
      border-radius: 60px;
      font-size: 28px; }
    .main-cont .scripcont .envio {
      font-size: 28px; }
    .main-cont .scripcont .mapa {
      width: 400px;
      height: auto; } }

@media (min-width: 1440px) {
  .header .container-fluid .navbar-brand .logochico {
    width: 50px;
    height: auto; }
  .header .collapse .navbar-nav .nav-item {
    font-size: 45px; }
  /* fin de mainheader */
  .main-index {
    grid-template-rows: repeat(12, 69px);
    width: 1440px; }
    .main-index .parrafo-main {
      grid-row: 8/9; }
      .main-index .parrafo-main .info {
        font-size: 45px;
        text-shadow: 0px 0px 10px black; }
      .main-index .parrafo-main .lorem1024 {
        display: block;
        font-size: 38px;
        text-shadow: 0px 0px 10px black;
        color: white;
        text-align: center; }
  .footer {
    height: 81px; }
    .footer .link {
      display: flex; }
      .footer .link .lfooter .icono {
        font-size: 50px; }
      .footer .link .nombre {
        font-size: 50px; }
  /* fin de mainindex */
  .main-dama {
    background-image: url(../images/fondonosotrosclara.png); }
    .main-dama .titulo {
      height: 90px; }
      .main-dama .titulo h1 {
        justify-content: center;
        text-align: center;
        font-size: 50px;
        grid-row: 1/2;
        color: white; }
    .main-dama .chicas {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr); }
      .main-dama .chicas .foto1, .main-dama .chicas .main-hombre .chicos .foto2, .main-hombre .chicos .main-dama .chicas .foto2, .main-dama .chicas .main-hombre .chicos .foto3, .main-hombre .chicos .main-dama .chicas .foto3, .main-dama .chicas .main-hombre .chicos .foto4, .main-hombre .chicos .main-dama .chicas .foto4, .main-dama .chicas .main-hombre .chicos .foto5, .main-hombre .chicos .main-dama .chicas .foto5, .main-dama .chicas .main-hombre .chicos .foto6, .main-hombre .chicos .main-dama .chicas .foto6 {
        grid-row: 1/2;
        grid-column: 1/2; }
      .main-dama .chicas .foto2 {
        grid-row: 1/2;
        grid-column: 2/3; }
      .main-dama .chicas .foto3 {
        grid-row: 1/2;
        grid-column: 3/4; }
      .main-dama .chicas .foto4 {
        grid-row: 2/3;
        grid-column: 1/2; }
      .main-dama .chicas .foto5 {
        grid-row: 2/3;
        grid-column: 2/3; }
      .main-dama .chicas .foto6 {
        grid-row: 2/3;
        grid-column: 3/4; }
  /* fin de maindama */
  .main-hombre {
    background-image: url(../images/fondonosotrosclara.png); }
    .main-hombre .titulo {
      height: 70px; }
      .main-hombre .titulo h1 {
        justify-content: center;
        text-align: center;
        font-size: 50px;
        grid-row: 1/2;
        color: white; }
    .main-hombre .chicos {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr); }
      .main-hombre .chicos .foto1, .main-hombre .chicos .foto2, .main-hombre .chicos .foto3, .main-hombre .chicos .foto4, .main-hombre .chicos .foto5, .main-hombre .chicos .foto6 {
        grid-row: 1/2;
        grid-column: 1/2; }
      .main-hombre .chicos .foto2 {
        grid-row: 1/2;
        grid-column: 2/3; }
      .main-hombre .chicos .foto3 {
        grid-row: 1/2;
        grid-column: 3/4; }
      .main-hombre .chicos .foto4 {
        grid-row: 2/3;
        grid-column: 1/2; }
      .main-hombre .chicos .foto5 {
        grid-row: 2/3;
        grid-column: 2/3; }
      .main-hombre .chicos .foto6 {
        grid-row: 2/3;
        grid-column: 3/4; }
  /* fin de mainhombre */
  .mainnos {
    background-image: url(../images/fondonosotrosclara.png);
    height: 1370px; }
    .mainnos .titulo2 {
      color: #0a0a0a;
      text-align: center;
      font-size: 65px;
      text-shadow: 0px 0px 10px black;
      height: 65px; }
    .mainnos .tarjeta1 {
      width: 870px;
      height: 180px; }
      .mainnos .tarjeta1 h2 {
        font-size: 45px; }
      .mainnos .tarjeta1 h4 {
        font-size: 30px; }
    .mainnos .tarjeta2 {
      width: 870px;
      height: 290px; }
      .mainnos .tarjeta2 h2 {
        font-size: 45px; }
      .mainnos .tarjeta2 h4 {
        font-size: 30px; }
    .mainnos .tarjeta4 {
      width: 870px;
      height: 775px; }
      .mainnos .tarjeta4 h2 {
        font-size: 45px; }
      .mainnos .tarjeta4 h4 {
        font-size: 30px; }
  /* fin de mainnosotros */
  .main-cont {
    background-image: url(../images/Fondodepantalla.jpg);
    display: grid;
    height: 900px; }
    .main-cont .titulo2 {
      width: 150px;
      height: 45px;
      font-size: 39px; }
    .main-cont .horario h3 {
      font-size: 34px; }
    .main-cont .formulario .caja1 {
      grid-row: 3/4; }
      .main-cont .formulario .caja1 .envio {
        color: white; }
      .main-cont .formulario .caja1 .intro {
        width: 500px;
        height: 50px;
        border-radius: 70px;
        font-size: 34px; }
    .main-cont .formulario .caja2 {
      grid-row: 4/5; }
      .main-cont .formulario .caja2 .envio {
        color: white; }
      .main-cont .formulario .caja2 .intro {
        width: 500px;
        height: 50px;
        border-radius: 70px;
        font-size: 34px; }
    .main-cont .formulario .caja3 {
      grid-row: 5/6; }
      .main-cont .formulario .caja3 .envio {
        width: 200px; }
      .main-cont .formulario .caja3 .intro {
        width: 500px;
        height: 50px;
        border-radius: 70px;
        font-size: 34px; }
    .main-cont .formulario .caja4 .envio {
      text-transform: capitalize;
      color: white; }
    .main-cont .formulario .caja4 .coment {
      width: 500px;
      height: 250px;
      border-radius: 70px;
      font-size: 34px; }
    .main-cont .scripcont .envio {
      font-size: 30px; }
    .main-cont .scripcont .mapa {
      width: 500px;
      height: auto; } }
