@media(min-width:1440px) {
    .header{
        .container-fluid {
            .navbar-brand {
                .logochico {
                    width: 50px;
                    height: auto;
                }
    }
}
    .collapse {
        .navbar-nav {
            .nav-item {
                font-size: 45px;
            }
        }
    }     
}  
        /* fin de mainheader */
    .main-index {
        grid-template-rows: repeat(12, 69px);
        width: 1440px;

        .parrafo-main {
            grid-row: 8/9;

            .info {
                font-size: 45px;
                text-shadow: 0px 0px 10px black;
            }

            .lorem1024 {
                display: block;
                font-size: 38px;
                text-shadow: 0px 0px 10px black;
                color: $blanco;
                text-align: center;
            }

        }
    }

    .footer {
        height: 81px;

        .link {
            display: flex;

            .lfooter {
                .icono {
                    font-size: 50px;
                }
            }

            .nombre {
                font-size: 50px;
            }
        }
    }

    /* fin de mainindex */
    .main-dama {
        background-image: url(../images/fondonosotrosclara.png);

        .titulo {
            height: 90px;

            h1 {
                justify-content: center;
                text-align: center;
                font-size: 50px;
                grid-row: 1/2;
                color: $blanco;
            }
        }

        .chicas {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);

            .foto1 {
                grid-row: 1/2;
                grid-column: 1/2;
            }

            .foto2 {
                grid-row: 1/2;
                grid-column: 2/3;
            }

            .foto3 {
                grid-row: 1/2;
                grid-column: 3/4;
            }

            .foto4 {
                grid-row: 2/3;
                grid-column: 1/2;
            }

            .foto5 {
                grid-row: 2/3;
                grid-column: 2/3;
            }

            .foto6 {
                grid-row: 2/3;
                grid-column: 3/4;
            }
        }
    }



    /* fin de maindama */

    .main-hombre {
        background-image: url(../images/fondonosotrosclara.png);

        .titulo {
            height: 70px;

            h1 {
                justify-content: center;
                text-align: center;
                font-size: 50px;
                grid-row: 1/2;
                color: $blanco;
            }
        }

        .chicos {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);

            .foto1 {
                grid-row: 1/2;
                grid-column: 1/2;
            }

            .foto2 {
                grid-row: 1/2;
                grid-column: 2/3;
            }

            .foto3 {
                grid-row: 1/2;
                grid-column: 3/4;
            }

            .foto4 {
                grid-row: 2/3;
                grid-column: 1/2;
            }

            .foto5 {
                grid-row: 2/3;
                grid-column: 2/3;
            }

            .foto6 {
                grid-row: 2/3;
                grid-column: 3/4;
            }
        }
    }

    /* fin de mainhombre */
    .mainnos {
        background-image: url(../images/fondonosotrosclara.png);
        height: 1370px;

        .titulo2 {
            color: $obscuro;
            text-align: center;
            font-size: 65px;
            text-shadow: 0px 0px 10px black;
            height: 65px;
        }

        .tarjeta1 {
            width: 870px;
            height: 180px;

            h2 {
                font-size: 45px;
            }

            h4 {
                font-size: 30px;
            }
        }

        .tarjeta2 {
            width: 870px;
            height: 290px;

            h2 {
                font-size: 45px;
            }

            h4 {
                font-size: 30px;
            }
        }

        .tarjeta4 {
            width: 870px;
            height: 775px;

            h2 {
                font-size: 45px;
            }

            h4 {
                font-size: 30px;
            }
        }
    }

    /* fin de mainnosotros */
    .main-cont {
        background-image: url(../images/Fondodepantalla.jpg);
        display: grid;
        height: 900px;

        .titulo2 {
            width: 150px;
            height: 45px;
            font-size: 39px;
        }

        .horario {
            h3 {
                font-size: 34px;
            }
        }

        .formulario {
            .caja1 {
                grid-row: 3/4;

                .envio {
                    color: $blanco;
                }

                .intro {
                    width: 500px;
                    height: 50px;
                    border-radius: 70px;
                    font-size: 34px;
                }
            }

            .caja2 {
                grid-row: 4/5;

                .envio {
                    color: $blanco;
                }

                .intro {
                    width: 500px;
                    height: 50px;
                    border-radius: 70px;
                    font-size: 34px;
                }
            }

            .caja3 {
                grid-row: 5/6;

                .envio {
                    width: 200px;
                }

                .intro {
                    width: 500px;
                    height: 50px;
                    border-radius: 70px;
                    font-size: 34px;
                }
            }

            .caja4 {
                .envio {
                    text-transform: capitalize;
                    color: $blanco
                }

                .coment {
                    width: 500px;
                    height: 250px;
                    border-radius: 70px;
                    font-size: 34px;
                }
            }
        }

        .scripcont {
            .envio {
                font-size: 30px;
            }

            .mapa {
                width: 500px;
                height: auto;
            }
        }
    }
}