.main-dama {
    background-image: url(../images/fondonosotrosclarita.png);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: space-around;
    background-color: $colorprincipal;

    .titulo {
        justify-content: space-around;
        align-self: center;
        align-items: center;
        align-content: center;
        height: 60px;

        h1 {
            justify-content: center;
            text-align: center;
            grid-row: 1/2;
            color: $blanco;
            text-shadow: 0px 0px 10px black;
        }
    }

    .chicas {
        display: grid;
        justify-items: center;

        .foto1 {
            grid-row: 2/3;
            width: 212px;
            height: 336px;
            border: 5px solid grey;
            box-shadow: 0px 0px 10px black;
            text-align: center;
            h2 {
                color: $blanco;
                font-size: 20px;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                text-shadow: 0px 0px 10px black;
            }
            h3 {
                color: $blanco;
                font-size: 20px;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                text-shadow: 0px 0px 10px black;
            }
        }

        .foto2 {
            grid-row: 3/4;
            width: 212px;
            height: 336px;
            border: 5px solid grey;
            box-shadow: 0px 0px 10px black;
            text-align: center;

            h2 {
                color: $blanco;
                font-size: 20px;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                text-shadow: 0px 0px 10px black;
                }
            h3 {
                color: $blanco;
                font-size: 20px;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                text-shadow: 0px 0px 10px black;
            }
        }

        .foto3 {
            grid-row: 4/5;
            width: 212px;
            height: 336px;
            border: 5px solid grey;
            box-shadow: 0px 0px 10px black;
            text-align: center;
            h2 {
                color: $blanco;
                font-size: 20px;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                text-shadow: 0px 0px 10px black;
                }
            h3 {
                color: $blanco;
                font-size: 20px;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                text-shadow: 0px 0px 10px black;
            }
        }

        .foto4 {
            grid-row: 5/6;
            width: 212px;
            height: 336px;
            border: 5px solid grey;
            box-shadow: 0px 0px 10px black;
            text-align: center;
            h2 {
                color: $blanco;
                font-size: 20px;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                text-shadow: 0px 0px 10px black;
                }
            h3 {
                color: $blanco;
                font-size: 20px;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                text-shadow: 0px 0px 10px black;
            }
        }

        .foto5 {
            grid-row: 6/7;
            width: 212px;
            height: 336px;
            border: 5px solid grey;
            box-shadow: 0px 0px 10px black;
            text-align: center;
            h2 {
                color: $blanco;
                font-size: 20px;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                text-shadow: 0px 0px 10px black;
                }
            h3 {
                color: $blanco;
                font-size: 20px;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                text-shadow: 0px 0px 10px black;
            }
        }

        .foto6 {
            grid-row: 7/8;
            width: 212px;
            height: 336px;
            border: 5px solid grey;
            box-shadow: 0px 0px 10px black;
            text-align: center;
            h2 {
                color: $blanco;
                font-size: 20px;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                text-shadow: 0px 0px 10px black;
                }
            h3 {
                color: $blanco;
                font-size: 20px;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                text-shadow: 0px 0px 10px black;
            }
        }

            .foto7 {
                grid-row: 8/9;
                width: 212px;
                height: 336px;
                border: 5px solid grey;
                box-shadow: 0px 0px 10px black;
                text-align: center;

                h2 {
                    color: $blanco;
                    font-size: 20px;
                    text-align: center;
                    font-family: Arial, Helvetica, sans-serif;
                    text-shadow: 0px 0px 10px black;
                    }
                h3 {
                    color: $blanco;
                    font-size: 20px;
                    text-align: center;
                    font-family: Arial, Helvetica, sans-serif;
                    text-shadow: 0px 0px 10px black;
                }
            }

            .foto8 {
                grid-row: 9/10;
                width: 212px;
                height: 336px;
                border: 5px solid grey;
                box-shadow: 0px 0px 10px black;
                text-align: center;
                h2 {
                    color: $blanco;
                    font-size: 20px;
                    text-align: center;
                    font-family: Arial, Helvetica, sans-serif;
                    text-shadow: 0px 0px 10px black;
                    }
                h3 {
                    color: $blanco;
                    font-size: 20px;
                    text-align: center;
                    font-family: Arial, Helvetica, sans-serif;
                    text-shadow: 0px 0px 10px black;
                }
            }

            .foto9 {
                grid-row: 10/11;
                width: 212px;
                height: 336px;
                border: 5px solid grey;
                box-shadow: 0px 0px 10px black;
                text-align: center;
                h2 {
                    color: $blanco;
                    font-size: 20px;
                    text-align: center;
                    font-family: Arial, Helvetica, sans-serif;
                    text-shadow: 0px 0px 10px black;
                    }
                h3 {
                    color: $blanco;
                    font-size: 20px;
                    text-align: center;
                    font-family: Arial, Helvetica, sans-serif;
                    text-shadow: 0px 0px 10px black;
                }
            }

            .foto10 {
                grid-row: 11/12;
                width: 212px;
                height: 336px;
                border: 5px solid grey;
                box-shadow: 0px 0px 10px black;
                text-align: center;
                h2 {
                    color: $blanco;
                    font-size: 20px;
                    text-align: center;
                    font-family: Arial, Helvetica, sans-serif;
                    text-shadow: 0px 0px 10px black;
                    }
                h3 {
                    color: $blanco;
                    font-size: 20px;
                    text-align: center;
                    font-family: Arial, Helvetica, sans-serif;
                    text-shadow: 0px 0px 10px black;
                }
            }

            .foto11 {
                grid-row: 12/13;
                width: 212px;
                height: 336px;
                border: 5px solid grey;
                box-shadow: 0px 0px 10px black;
                text-align: center;
                h2 {
                    color: $blanco;
                    font-size: 20px;
                    text-align: center;
                    font-family: Arial, Helvetica, sans-serif;
                    text-shadow: 0px 0px 10px black;
                    }
                h3 {
                    color: $blanco;
                    font-size: 20px;
                    text-align: center;
                    font-family: Arial, Helvetica, sans-serif;
                    text-shadow: 0px 0px 10px black;
                }
            }

            .foto12 {
                grid-row: 13/14;
                width: 212px;
                height: 336px;
                border: 5px solid grey;
                box-shadow: 0px 0px 10px black;
                text-align: center;
                h2 {
                    color: $blanco;
                    font-size: 20px;
                    text-align: center;
                    font-family: Arial, Helvetica, sans-serif;
                    text-shadow: 0px 0px 10px black;
                    }
                h3 {
                    color: $blanco;
                    font-size: 20px;
                    text-align: center;
                    font-family: Arial, Helvetica, sans-serif;
                    text-shadow: 0px 0px 10px black;
                }
            }

                .foto13 {
                    grid-row: 14/15;
                    width: 212px;
                    height: 336px;
                    border: 5px solid grey;
                    box-shadow: 0px 0px 10px black;
                    text-align: center;
                    h2 {
                        color: $blanco;
                        font-size: 20px;
                        text-align: center;
                        font-family: Arial, Helvetica, sans-serif;
                        text-shadow: 0px 0px 10px black;
                        }
                    h3 {
                        color: $blanco;
                        font-size: 20px;
                        text-align: center;
                        font-family: Arial, Helvetica, sans-serif;
                        text-shadow: 0px 0px 10px black;
                    }
                }

                .foto14 {
                    grid-row: 15/16;
                    width: 212px;
                    height: 336px;
                    border: 5px solid grey;
                    box-shadow: 0px 0px 10px black;
                    text-align: center;
                    h2 {
                        color: $blanco;
                        font-size: 20px;
                        text-align: center;
                        font-family: Arial, Helvetica, sans-serif;
                        text-shadow: 0px 0px 10px black;
                        }
                    h3 {
                        color: $blanco;
                        font-size: 20px;
                        text-align: center;
                        font-family: Arial, Helvetica, sans-serif;
                        text-shadow: 0px 0px 10px black;
                    }
                }

                .foto15 {
                    grid-row: 16/17;
                    width: 212px;
                    height: 336px;
                    border: 5px solid grey;
                    box-shadow: 0px 0px 10px black;
                    text-align: center;
                    h2 {
                        color: $blanco;
                        font-size: 20px;
                        text-align: center;
                        font-family: Arial, Helvetica, sans-serif;
                        text-shadow: 0px 0px 10px black;
                        }
                    h3 {
                        color: $blanco;
                        font-size: 20px;
                        text-align: center;
                        font-family: Arial, Helvetica, sans-serif;
                        text-shadow: 0px 0px 10px black;
                    }
        }
    
        }
    }
